 @import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo Play", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
header{
    display: flex;
    background-color: aquamarine;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 10px 200px;
}

.logo{
    font-size: 25px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: blue;
    padding: 2px 12px;
    border-radius: 12px;
    transition: 0.5s;

}
.logo:hover{
  transform: scale(1.2);
  color: yellow;
}
.navigation a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    padding-left: 30px;
}
.navigation a:hover{
    color: blue;

}
.section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(R.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
h2{
     color: blue;
    font-weight: bolder;
    font-size: 22px;
}
   

.main h2 span {

    color: white;
    font-size: 30px;
    display: inline-block;
    margin-top: 15px;
    
}
h3{
    font-size: 22px;
    font-weight: bolder;
    color: blue;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: #0b0202d5;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(222, 207, 69, 0.402);
    padding: 5px 12px;
    border-radius: 15px;
    display: inline-block;
    transition: 1s;
}
.main-btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.2);
}
.social-icons a{
    font-size:20px;
    margin-right:15px ;
    color: chartreuse;
    padding-top: 30px;
     display: inline-block;
}
.content{
   padding:0px 100px ; 
}
.mailto{
    background-color: rgba(214, 200, 6, 0.347);
    text-decoration: none;
    color: black;
    display: inline-block;
     padding: 5px 12px;
      border-radius: 15px;
      font-size: 18px;
      font-weight: bold;
      margin: 10px;
      transition: 1s;
}
.mailto:hover{
    transform: scale(1.2);
    background-color: aliceblue;
    color: black;
}
